{
  "target_url": "https://management-ptp-global-resource.services.ai.azure.com",
  "azure_openai_endpoint": "https://management-ptp-global-resource.openai.azure.com/openai/v1",
  "api_key": "REPLACE_ME",
  "deployment_name": "sora-2",
  "model_name": "sora-2",
  "api_key_name": "management-ptp-global",
  "subscription": "781e4664-655c-453c-a743-470e6d0c7421"
}
